@page
@model Michaelsoft.ContentManager.Client.Areas.Authentication.Pages.Logout
@{
    Layout = "_ContentManagerLayout";
}

<div class="content-manager_client-form_outer">
    <div class="content-manager_client-form_middle">
        <div class="content-manager_client-form_inner">
            <p>Logout executed!</p>
        </div>
    </div>
</div>

