@using Michaelsoft.ContentManager.Client.Interfaces
@using Michaelsoft.ContentManager.Common.Extensions
@using Michaelsoft.ContentManager.Common.HttpModels.Content
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@model Michaelsoft.ContentManager.Client.Models.Forms.ContentForm
@inject IHttpContextAccessor HttpContextAccessor
@inject IContentManagerContentApiService ContentManagerContentApiService
@inject IViewLocalizer Localizer

@{
    var contentId = HttpContextAccessor.HttpContext.Request.Query["id"].ToString();
    Content content = null;
    try
    {
        if (!contentId.IsNullOrEmpty())
        {
            content = ContentManagerContentApiService.Read(contentId).Result;
        }
    }
    catch (Exception)
    {
        <p class="text-danger">@Localizer["unauthorized"]</p>
        return;
    }
    content ??= new Content();
    Model.Content = content;
}

<form id="content-form" method="post" asp-area="@Model.ActionArea" asp-page="@Model.ActionPage">
    <div class="content-form">
        <input type="hidden" asp-for="SuccessArea">
        <input type="hidden" asp-for="SuccessPage">
        <input type="hidden" asp-for="FailureArea">
        <input type="hidden" asp-for="FailurePage">
        <input type="hidden" asp-for="SubmitLabel">
        <input type="hidden" asp-for="Content.Id">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <div class="content-manager_form-label">
                        <label asp-for="Content.Type"></label>
                    </div>
                    <div class="content-manager_form-input">
                        <input asp-for="Content.Type" class="form-control"/>
                    </div>
                    <div class="content-manager_form-error">
                        <span asp-validation-for="Content.Type" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <div class="content-manager_form-label">
                        <label asp-for="Content.Locale"></label>
                    </div>
                    <div class="content-manager_form-input">
                        <input asp-for="Content.Locale" class="form-control"/>
                    </div>
                    <div class="content-manager_form-error">
                        <span asp-validation-for="Content.Locale" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <div class="content-manager_form-label">
                        <label asp-for="Content.Published"></label>
                    </div>
                    <div class="content-manager_form-input">
                        <input asp-for="Content.Published" class="form-control"/>
                    </div>
                    <div class="content-manager_form-error">
                        <span asp-validation-for="Content.Published" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="content-manager_form-label">
                <label asp-for="Content.Title"></label>
            </div>
            <div class="content-manager_form-input">
                <input asp-for="Content.Title" class="form-control"/>
            </div>
            <div class="content-manager_form-error">
                <span asp-validation-for="Content.Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="content-manager_form-label">
                <label asp-for="Content.Subtitle"></label>
            </div>
            <div class="content-manager_form-input">
                <input asp-for="Content.Subtitle" class="form-control"/>
            </div>
            <div class="content-manager_form-error">
                <span asp-validation-for="Content.Subtitle" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="content-manager_form-label">
                <label asp-for="Content.HtmlContent"></label>
            </div>
            <div class="content-manager_form-input">
                <input type="hidden" asp-for="Content.HtmlContent" id="html-content">
                <input type="hidden" asp-for="Content.TextContent" id="text-content">
                <div id="content-editor"
                          style="height:250px;
                                 resize:none;
                                 background-color: whitesmoke;
                                 color: black;
                                 font-family: serif;
                                 font-weight: normal;
                                 font-variant: none;
                                 text-align: left;
                                 border: 1px solid grey;
                                 border-radius: 5px;
                                 padding: 10px;">
                </div>
            </div>
            <div class="content-manager_form-error">
                <span asp-validation-for="Content.HtmlContent" class="text-danger"></span>
            </div>
        </div>
        <div class="content-manager_client-form_container">
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-sm btn-block">@Model.SubmitLabel</button>
            </div>
        </div>
    </div>
</form>

<script src="~/_content/Michaelsoft.ContentManager.Client/js/ckeditor.js"></script>
<script src="~/_content/Michaelsoft.ContentManager.Client/js/editorpage.js"></script>